// vendor
@import 'jeet';

// reset
*, *:after, *:before {
  box-sizing: border-box;
  outline: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  min-height: 100%;
  height: 100%;
}
body {
  margin: 0;
}

// base
body {
  background: #595959;
}

// blocks
.rotation-object {
  @include align(both);
  // box-shadow: 0 0 4px 0 black;
}